.about__info {
  display: flex;
  justify-content: center;
}

.info__text {
  text-align: left;
  max-width: 60%;
  font-size: 1.1rem;
}

.social__icons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.social__icons a {
  margin-right: 20px;
}

.icon__img {
  filter: invert(1);
}
