/* Container */

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 80%;
  background-color: #090909;
  color: white;
}

.space__content {
  margin-bottom: 80px;
}

@media (max-width: 800px) {
  .space__content {
    margin-bottom: 50px;
  }
}

/* News */

.section__news {
  grid-row-gap: 30px;
  padding-bottom: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 800px) {
  .section__news {
    grid-template-columns: 1fr;
  }
}

.news__item {
  box-shadow: 0 0.3px 4px 0 gray;
  transition: 0.3s;
  background-color: black;
  width: 80%;
  text-decoration: none;
}

.news__content {
  padding: 8px 8px;
  text-align: center;
  color: white;
  font-size: 1.4em;
}
@media (max-width: 800px) {
  .news__content {
    font-size: 1em;
  }
}

.news__container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .news__container {
    justify-content: center;
  }
}

.news__item:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: white;
}

.news__video {
  width: 610px;
  height: 422px;
}

@media (max-width: 800px) {
  .news__video {
    width: 300px;
    height: 230px;
  }
}
